*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  background-color: #E7EBE0;
  font-family: 'Inter', sans-serif;
}

ul{
  /*zero*/
  list-style: none; 
  padding: 0; 
  margin: 0; 
}